<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include("partials/head.ejs")  %> 
</head>
<body>
<%- include("partials/header.ejs")  %> 

  <div class="title-system">
    <h1>Sistema de cadastro</h1>
     <h3>Desenvolvido por Gabriel Miranda</h3>
  </div>


  <%- include("partials/script.ejs")  %> 
</body>
</html>