<header class="header">

  <h1>Sistema de cadastro</h1>
  <nav class="nav">
    <ul class="list-routers">
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/cadastrar">Cadastrar</a>
      </li>

      <li>
        <a href="/list">Listar usuários</a>
      </li>

    </ul>
  </nav>
</header>